body{
    background-color: rgb(158, 123, 70);
    margin: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.heading{
    text-align: center;
}
h1{
    color: rgb(73, 47, 13);
}
/* div{
    
} */
.mySlides {display: block;
    margin: 15%;}
p{
    direction: ltr;
    font-size: 18px;
}